{% extends 'base.html.twig' %}

{% block title %}Bienvenu chez le meillieur site de ventes {% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>

<div class="example-wrapper">
    <h1>Bienvenu sur le meilleur site de vente en ligne ✅</h1>


    <img style="width: 100%;" src="https://www.vid-marketing.com/wp-content/uploads/2018/10/GettyImages-1135609382.jpg"
        alt="" srcset="">
</div>
{% endblock %}