  

<img src="{{ email.image('@images/header.jpg') }}" alt="Logo">


<h1>Bonjour {{user.username}},</h1>


<p>Félicitation! Vôtre compte à été crée le: {{date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}} </p>

